<h1>Notifications</h1>

<% unless @friend_requests.empty? %>
	<h3> Friend Requests </h3>
	<br><hr>
	<% @friend_requests.each do |fr| %>
		<p> FROM <%=fr.requestor.email %>  <%= link_to "Accept", friend_accept_path(fr) %> <%= link_to "Decline", friend_decline_path(fr) %> </p>
	<% end %>
<% else %>
	<h3> No notifications </h3>
<% end %>
