<h1>Welcome to JJSocial mate!</h1>

<p>
  You've probably created a profile and added your info by now, so go and add a few friends to start your journey!
</p>

<a href="<%= @url %>">Take me there!</a>
